@model IEnumerable<CShop.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Toys Shop</h3>
        <div class="row">
          
            <div class="left-ads-display col-lg-12">
            <div class="row">
                @foreach (var item in Model)
                {
              <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
                    <div class="product-toys-info">
                        <div class="men-pro-item">
                            <div class="men-thumb-item">
                                <img src='~/Content/image1/@Html.DisplayFor(modelItem => item.pimage)' class="img-thumbnail img-fluid" alt="">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        @Html.ActionLink("Quick View","Single","Shop",new {pid=Html.DisplayFor(modelItem=>item.PId)},new { @class="link-product-add-cart"})
                                        <!--<a href="single.html" class="link-product-add-cart">Quick View</a>-->
                                    </div>
                                </div>
                                <span class="product-new-top">New</span>
                            </div>
                            <div class="item-info-product">
                                <div class="info-product-price">
                                    <div class="grid_meta">
                                        <div class="product_price">
                                            <h4>
                                                @Html.ActionLink(Html.DisplayFor(modelItem => item.pname).ToString(), "Single", "Shop", new { pid = Html.DisplayFor(modelItem => item.PId) })
                                                <!---<a href="single.html"></a>-->
                                            </h4>
                                            <div class="grid-price mt-2">
                                                <span class="money ">Rs. @Html.DisplayFor(modelItem => item.price)</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="toys single-item hvr-outline-out">
                                        
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
            </div>
        </div>
    </div>
</section>
